name: "定时创建快照"

on:
  schedule:
    - cron: "0 18 * * *"
  workflow_dispatch:

jobs:
  create-snapshot:
    name: "定时创建快照"
    runs-on: ubuntu-latest

    steps:
      - name: "定时创建快照"
        uses: seatonjiang/lighthouse-snapshot-action@main
        with:
          secret_id: ${{ secrets.TENCENTCLOUD_SECRETID }}
          secret_key: ${{ secrets.TENCENTCLOUD_SECRETKEY }}
          region_instance: ${{ secrets.TENCENTCLOUD_REGIONINSTANCE }}
          snapshot_mode: loop

      - name: "删除历史运行记录"
        uses: ophub/delete-releases-workflows@main
        with:
          delete_releases: false
          releases_keep_latest: 1
          delete_workflows: true
          workflows_keep_day: 1
          gh_token: ${{ secrets.GITHUB_TOKEN }}
